In [3]:
from ggplot import *
%matplotlib inline
import pandas as pd

In [13]:
urban=pd.read_csv('/Users/stella/Desktop/Pagesor A_29 June to 02 Oct 2017_UTC0.csv',delimiter=',',encoding='latin-1')
urban=urban[['Alarm','Data','pegasor a','pegasor a.1','pegasor a.2','pegasor a.19','pegasor a.20','pegasor a.21','pegasor a.37','pegasor a.38','pegasor a.39']]
urban.columns=['alarm','data','ldsa-1','pn-1','pm25-1','ldsa-2','pn-2','pm25-2','ldsa-3','pn-3','pm25-3']

/Users/stella/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [27]:
urban[7:].head()

,alarm,data,ldsa-1,pn-1,pm25-1,ldsa-2,pn-2,pm25-2,ldsa-3,pn-3,pm25-3
7,29/06/2017,00:01,30.47,176784.55,1.21,0.00,0.00,0.00,34.04,194934.49,1.34
8,29/06/2017,00:02,30.47,176784.55,1.21,0.00,0.00,0.00,34.04,194934.49,1.34
9,29/06/2017,00:03,30.47,176784.55,1.21,0.00,0.00,0.00,33.93,194266.39,1.33
10,29/06/2017,00:04,30.47,176784.55,1.21,0.00,0.00,0.00,33.93,194266.39,1.33
11,29/06/2017,00:05,30.47,176784.55,1.21,0.00,0.00,0.00,35.71,204585.48,1.40